extends layout

block content
	h1= title
	p Welcome to The Pomodoro Timer
	br
	br
	br
	div#timer 
	br
	button#btnstart Start
	button#btnreset Reset
	br
	br
	br
	br
	br
	br
	br
	br
	div#pomodoros Pomodoros: 0
